.specials-section {
  width: 90%;
  padding: 72px 0;
  position: relative;
  background: var(--bg);
  margin: auto;
}
 
.specials-section .special-container {
  
  margin:  auto;
}
 
.specials-section .section-heading.center {
  text-align: center;
  margin-bottom: 32px;
}
 
.specials-section .section-heading h2 {
  margin: 0;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 50px;
  color: var(--text);
}
 
.specials-section .eyebrow {
  margin: 0 0 10px;
  color: #e8562f;
  font-family: "Brush Script MT", cursive;
  font-size: 40px;
}
 .card-front{
    display: flex;
    flex-direction: column;
}

.card-front .card-body{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.body-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    width: 100%;
}

.body-top p{
    flex: 1;
}

.body-bottom{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: auto;
}
 .specials-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px ;
  padding: 30px 100px;
}
 
.specials-section .specials-card {
  width: 100%;
  height: 470px;
  perspective: 1000px;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.35);
  transition: transform 0.2s ease;
  margin: auto;
}
 
.specials-section .specials-card:hover {
  transform: translateY(-6px);
}
 
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
 
.specials-card.flipped .card-inner {
  transform: rotateY(180deg);
}
 
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 18px;
  overflow: hidden;
}
 
.card-front {
  background: var(--card)
}
 
.card-front img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}
 
.card-front .card-body {
  padding: 16px;
  color: var(--text);
}

.card-front h3 {
  margin: 0 0 0;
  font-size: 32px;
  text-align: center;
  color:var(--text)
}

.card-back h3 {
  margin: 15px 0 0;
  font-size: 32px;
  text-align: center;
  color:var(--text)
}
.card-front .special-price {
  margin: 0;
  color: #e8562f;
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
}
 
.card-back {
  background: var(--card);
  transform: rotateY(180deg);
  text-align: center;
  color: var(--text)
}

.card-back img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.special-badge {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 1;
  padding: 8px 10px;
  border-radius: 999px;
  background: #ff6600;;
  color: #ffffff;
  font-size: 0.82rem;
}
 
.special-button {
  padding: 10px 32px;
  border: none;
  background: #ff6600;
  color: var(--bg);
  border-radius: 45px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 700;
}

.go-back{
  padding: 8px 32px;
  border: none;
  background: #ff6600;
  color: var(--bg);
  border-radius: 45px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 700;
}
.cart-add {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: #ff6600;
    color: var(--bg);
    font-size: 22px;
    line-height: 1;
    cursor: pointer;
    transition: background 0.2s ease;
}
 
.body-top{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.body-bottom{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
/* Responsive tweaks */
@media (max-width: 1100px) {
  .specials-section .specials-grid {
    grid-template-columns: repeat(3,1fr);
  }
  .specials-section .specials-card {
  width: 100%;
  }
   .card-front img {
    height: 55%;
  }
.card-back img{
  height: 40%;
}
}

@media (max-width:820px){

.specials-grid{
    grid-template-columns:repeat(3,1fr);
    gap:16px;
    padding:20px 35px;
}

.specials-card{
    width:100%;
}

.card-front img{
    height:58%;
}



.card-front h3,
.card-back h3{
    font-size:22px;
}

.card-front p,
.card-back p{
    font-size:15px;
}

.special-price{
    font-size:18px;
}

.special-button{
    font-size:12px;
    padding:10px 10px;
}

}
 
@media (max-width: 768px) {
  .specials-section {
    padding: 36px 0;
  }
 
  .specials-section .section-heading h2 {
    font-size: 40px;
  }
 
  .card-front img {
    height: 50%;
  }
.card-back img{
  height: 40%;
}

   .card-front h3,
   .card-back h3{
    font-size: 20px;
   }
   .card-front p
   {
    margin: 10px 0px;
      font-size: 15px;
   }
   .card-back p{
    font-size: 11px;
   }
  .specials-section .specials-card {
  width: 100%;
  max-height: 300px;
  }
  
  
}

@media (max-width:480px){

    .specials-section{
        padding:30px 0px;
        margin: auto;
        width: 85%;
    }

    .specials-section .section-heading{
        margin-bottom:20px;
    }

    .specials-section .eyebrow{
        font-size:22px;
    }

    .specials-section .section-heading h2{
        font-size:26px;
    }

    .specials-section .specials-grid{
        display:grid;
        grid-template-columns:repeat(3,1fr);
        gap:8px;
        justify-items:center;
        padding: 0px 0px;
    }

    .specials-section .specials-card{
        width:100%;
        height:190px;
        border-radius: 10px;
    }

    .card-inner{
        width:100%;
        height:100%;
    }

    .card-front,
    .card-back{
        width:100%;
        height:100%;
        border-radius: 2px;
    }
    .card-back{
      padding: 0;
    }

    .card-front img{
        width:100%;
        height:63%;
        object-fit:cover;
    }

    .card-back img{
        width:100%;
        height:40%;
        object-fit:cover;
    }

    .card-front .card-body{
        padding:6px;
    }

    
.card-body{
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
  text-align: center;
}
    .card-front h3,
    .card-back h3
    {
        font-size:10px;
        margin-bottom:3px;
        text-align: center;
    }

    
    .card-front p,
    .card-back p{
        font-size:9px;
        margin:2px 0;
        text-align:center;
    }

    .special-badge{
        font-size:7px;
        padding:3px 5px;
        top:5px;
        left:5px;
    }

    .special-button{
        width:50%;
        height:100%;
        font-size:6px;
        padding:2px 4px;
        margin:2px 0;
        border-radius:20px;
    }
.cart-add{
        width:fit-content;
        height: 100%;
        font-size:10px;
        border-radius:10px;
        padding: 2px 4px;
        text-align: center;
        align-items: center;
}
.go-back{
        width:50%;
        height:fit-content;
        font-size:7px;
        padding:2px 4px;
        border-radius:20px;
        bottom: 10px;
        margin-top: 0px;
}
    .body-top{
        width:100%;
        text-align:left;
        display: flex;
        flex-direction: column;
    }
    .body-bottom{
        width:100%;
        text-align:justify;
        display: flex;
        flex-direction: row;
        bottom: 10px;
    }


}